WcfSample06/WcfSample06Client/Service References/ServiceReference1/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Sample.WCF" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Sample.WCF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Sample.WCF/Imports">
      <xsd:import schemaLocation="http://localhost:49791/MyService.svc?xsd=xsd0" namespace="http://Sample.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_Regist_InputMessage">
    <wsdl:part name="parameters" element="tns:Regist" />
  </wsdl:message>
  <wsdl:message name="IMyService_HeavyRegist_InputMessage">
    <wsdl:part name="parameters" element="tns:HeavyRegist" />
  </wsdl:message>
  <wsdl:message name="IMyService_HeavyRegist_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeavyRegistResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="Regist">
      <wsdl:input wsaw:Action="http://Sample.WCF/IMyService/Regist" message="tns:IMyService_Regist_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HeavyRegist">
      <wsdl:input wsaw:Action="http://Sample.WCF/IMyService/HeavyRegist" message="tns:IMyService_HeavyRegist_InputMessage" />
      <wsdl:output wsaw:Action="http://Sample.WCF/IMyService/HeavyRegistResponse" message="tns:IMyService_HeavyRegist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>