WcfSample06/WcfSample06Client/Service References/ServiceReference1/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sample.WCF" elementFormDefault="qualified" targetNamespace="http://Sample.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Regist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeavyRegist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeavyRegistResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>